<section class="feature-layout1 feature-carousel bg-overlay bg-overlay-secondary-gradient pb-0">
  <div class="container">
    <div class="row heading">
      <div class="col-12">
        <h2 class="heading__subtitle color-accent">Découvrez pourquoi les propriétaires nous aiment !</h2>
      </div><!-- /.col-12 -->
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
        <h3 class="heading__title color-white">Découvrez le niveau ultime de puissance de nettoyage avec des services sur mesure de pointe.</h3>
      </div><!-- /.col-xl-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-xl-1">
        <p class="heading__desc font-weight-bold color-gray mb-30">Nous prendrons le temps de discuter de vos préférences
          et de vos priorités avec vous avant votre premier service de nettoyage à domicile et les combinerons avec nos méthodes pour
          vous offrir le meilleur nettoyage possible. Nos femmes de ménage résidentielles arriveront toujours avec votre
          plan de nettoyage personnalisé en main pour garantir que tous vos besoins soient pris en compte.
        </p>
        <p class="heading__desc font-weight-bold color-gray mb-30">Now more than ever, detailed disinfecting methods
          should be in place to protect the guests and employees of your facility.
        </p>
        <div class="d-flex flex-wrap mb-70">
          <a href="contactform" class="btn btn__accent mr-30">
            <span>Contactez-nous</span>
            <i class="icon-arrow-right ml-20"></i>
          </a>
          <a href=" service-details" class="btn btn__white btn__outlined">Nos Services</a>
        </div>
      </div><!-- /.col-xl-6 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-12">
        <div class="slick-carousel carousel-dots-light"
          data-slick='{"slidesToShow": 4, "slidesToScroll": 4, "autoplay": false, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2,"slidesToScroll": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1,"slidesToScroll": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1,"slidesToScroll": 1}}]}'>
          
          <!-- feature item #1 -->
          <div class="feature-item">
            <div class="feature__body">
              <div class="feature__icon">
                <i class="icon-hand-dryer"></i>
              </div><!-- /.feature__icon -->
              <h4 class="feature__title">Équipes saines et distanciation sociale</h4>
              <p class="feature__desc">Nos experts sont soigneusement formés et utilisent des systèmes de nettoyage et de désinfection exclusifs.</p>
              <a href="service-details" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right icon-outlined"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.feature__body -->
            <div class="feature__img">
              <img src="assets/images/features/1.jpg" alt="feature">
            </div><!-- /.feature__img -->
          </div><!-- /.feature-item -->
          
          <!-- feature item #2 -->
          <div class="feature-item">
            <div class="feature__body">
              <div class="feature__icon">
                <i class="icon-bucket"></i>
              </div><!-- /.feature__icon -->
              <h4 class="feature__title">Désinfectant de qualité professionnelle</h4>
              <p class="feature__desc">Réduisez le temps de nettoyage d'environ 25 % tout en assurant un environnement impeccable et désinfecté.</p>
              <a href=" service-details" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right icon-outlined"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.feature__body -->
            <div class="feature__img">
              <img src="assets/images/features/2.jpg" alt="feature">
            </div><!-- /.feature__img -->
          </div><!-- /.feature-item -->
    
          <!-- feature item #3 -->
          <div class="feature-item">
            <div class="feature__body">
              <div class="feature__icon">
                <i class="icon-wet-floor"></i>
              </div><!-- /.feature__icon -->
              <h4 class="feature__title">Outils de nettoyage stérilisés et désinfectés</h4>
              <p class="feature__desc">Nous nous familiariserons avec votre installation puis créerons un plan de nettoyage personnalisé.</p>
              <a href=" service-details" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right icon-outlined"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.feature__body -->
            <div class="feature__img">
              <img src="assets/images/features/3.jpg" alt="feature">
            </div><!-- /.feature__img -->
          </div><!-- /.feature-item -->
    
          <!-- feature item #4 -->
          <div class="feature-item">
            <div class="feature__body">
              <div class="feature__icon">
                <i class="icon-dusting"></i>
              </div><!-- /.feature__icon -->
              <h4 class="feature__title">Garantie de satisfaction à 100 %</h4>
              <p class="feature__desc">Nous offrons une grande variété de services pouvant être personnalisés pour répondre à vos besoins.</p>
              <a href=" service-details" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right icon-outlined"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.feature__body -->
            <div class="feature__img">
              <img src="assets/images/features/4.jpg" alt="feature">
            </div><!-- /.feature__img -->
          </div><!-- /.feature-item -->
    
          <!-- feature item #5 -->
          <div class="feature-item">
            <div class="feature__body">
              <div class="feature__icon">
                <i class="icon-bucket"></i>
              </div><!-- /.feature__icon -->
              <h4 class="feature__title">Désinfectant de qualité professionnelle</h4>
              <p class="feature__desc">Réduisez le temps de nettoyage d'environ 25 % tout en assurant un environnement impeccable et désinfecté.</p>
              <a href=" service-details" class="btn btn__secondary btn__link">
                <i class="icon-arrow-right icon-outlined"></i>
                <span>En savoir plus</span>
              </a>
            </div><!-- /.feature__body -->
            <div class="feature__img">
              <img src="assets/images/features/2.jpg" alt="feature">
            </div><!-- /.feature__img -->
          </div><!-- /.feature-item -->
          
        </div><!-- /.carousel -->
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
    
  </div><!-- /.container -->
</section><!-- /.feature-carousel -->