<app-announcement></app-announcement>
<div class="container text-center">
  <div class="row">
    <!-- First Column for Text and Expertise Section -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="col-10 p-2 mx-auto">
        <h3>
          <span appScrollAnimation style="color: rgb(1, 8, 54); font-weight: 700;">Pourquoi</span>
          <span appScrollAnimation style="color: #F94D1C; font-weight: 700;"> nous ?</span>
        </h3>
      </div>

      <div class="col-12 p-2" appScrollAnimation>
        <p>Chez <strong>M'barki Groupe</strong>, nous distinguons de la concurrence en Bretagne grâce à notre
          approche orientée client, des services diversifiés allant du ménage à domicile aux petits travaux de
          bricolage, et notre engagement à offrir un service rapide, efficace et abordable.
        </p>

        <div class="expertise">
          <div class="row align-items-center">
            <div class="col-1">
              <i class="fas fa-check-circle"></i>
            </div>
            <div class="col-8 text-start">
              <h4>L'expertise</h4>
            </div>
          </div>

          <div class="row align-items-center mt-2">
            <div class="col-1">
              <i class="fas fa-check-circle"></i>
            </div>
            <div class="col-8 text-start">
              <h4>L'innovation</h4>
            </div>
          </div>

          <div class="row align-items-center mt-2">
            <div class="col-1">
              <i class="fas fa-check-circle"></i>
            </div>
            <div class="col-8 text-start">
              <h4>La proximité</h4>
            </div>
          </div>

          <div class="row align-items-center mt-2">
            <div class="col-1">
              <i class="fas fa-check-circle"></i>
            </div>
            <div class="col-8 text-start">
              <h4>La passion</h4>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Second Column for Image -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <img src="assets/work2.jpg" alt="" class="img-fluid imageOne">
    </div>

    <!-- Third Column for Timeline Section -->
    <div class="col-12 col-lg-4">
      <div class="timeline-container">
        <div class="timeline-step">
          <div class="circle">01</div>
          <div class="content">
            <h3>L'expertise</h3>
            <p>Hosni, notre expert technique, vous garantit des installations de haute qualité.</p>
          </div>
        </div>

        <div class="timeline-step">
          <div class="circle">02</div>
          <div class="content">
            <h3>L'innovation</h3>
            <p>Nous sommes à l'affût des dernières technologies pour vous offrir les meilleures solutions.</p>
          </div>
        </div>

        <div class="timeline-step">
          <div class="circle">03</div>
          <div class="content">
            <h3>La proximité</h3>
            <p>Nous sommes à votre écoute et nous adaptons à vos besoins spécifiques.</p>
          </div>
        </div>
        <div class="timeline-step">
          <div class="circle">04</div>
          <div class="content">
            <h3>La passion</h3>
            <p>Nous aimons notre métier et nous mettons tout en œuvre pour votre satisfaction.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-why-us></app-why-us>