<!-- Full-width Footer -->
<footer class="bg-primary text-center text-lg-start text-white">
    <!-- Full-width Grid container -->
    <div class="container-fluid p-3" style="background-color: #060056;">
        <!--Grid row-->
        <div class="row my-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                <div class="rounded-circle shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                    style="width: 150px; height: 150px;">
                    <img src="assets/logo.png" height="70" alt="" loading="lazy" class="rotating-logo" />
                </div>
                <h6 >Votre partenaire pour un environnement propre et sain.</h6>
                <p class="text-center"> Services de nettoyage personnalisés, efficaces, et respectueux de l'environnement.</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-4 mb-5 mb-md-0">
                <h5 class="text-uppercase mb-4">Link</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="" class="animated-link">Home</a>
                    </li>
                    <li class="mb-2">
                        <a href="" class="animated-link">About us</a>
                    </li>
                    <li class="mb-2">
                        <a href="" class="animated-link">Our Service</a>
                    </li>
                    <li class="mb-2">
                        <a href="" class="animated-link">Our Blog</a>
                    </li>
                    <li class="mb-2">
                        <a href="" class="animated-link">Our Team</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                <h5 class="text-uppercase mb-4">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-map-marker-alt pe-2"></i>Warsaw, 57 Street, Poland</p>
                    </li>
                    <li>
                        <p><i class="fas fa-phone pe-2"></i>+ 01 234 567 89</p>
                    </li>
                    <li>
                        <p><i class="fas fa-envelope pe-2 mb-0"></i>mbarkigroupe&contact.com</p>
                    </li>
                    <br>
                    <button class="btn btn-light mx-2">
                        <i class="fab fa-facebook-square"></i>
                    </button>
                    <button class="btn btn-light mx-2">
                        <i class="fab fa-instagram"></i>
                    </button>
                    <button class="btn btn-light mx-2">
                        <i class="fab fa-youtube"></i>
                    </button>
                </ul>


            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <!-- <div class="pngimage">
                    <img src="assets/radio.png" alt="">
                  </div> -->

                <h5 class="text-uppercase mb-4">Newsletter</h5>
                <p>Abonnez-vous à notre newsletter et recevez les dernières nouvelles et mises à jour.</p>
                <br>
                <div class="d-flex flex-row">
                    <input type="email" class="form-control" placeholder="Enter your email"
                        style="width: 200px; border-color: #060056;">
                    <div style="width: 10px"></div>
                    <button class="btn btn-light"><i class="fa fa-paper-plane"> </i></button>
                </div>

            </div>


            <!--Grid column-->
        </div>

        <!--Grid row-->
    </div>
    <!-- Full-width Grid container -->
</footer>